If:
  PathMatch: [.*.\hpp, .*.\cpp]
  PathExclude: build/gen/.*
CompileFlags:
  Add: [-Wall, -Wextra, -Wpedantic]
Completion:
  ArgumentLists: Delimiters
InlayHints:
  BlockEnd: true
Documentation:
  CommentFormat: Doxygen