If:
  PathMatch: [.*.\hpp, .*.\cpp]
  PathExclude: build/gen/.*
CompileFlags:
  Add: [-Wall, -Wextra, -Wpedantic, -std=c++23]
Completion:
  ArgumentLists: Delimiters
InlayHints:
  BlockEnd: true
Documentation:
  CommentFormat: Doxygen

---

If:
  PathMatch: .*/backend.cpp
Diagnostics:
  UnusedIncludes: None

---

If:
  PathMatch: .*/prelude.hpp
Diagnostics:
  Suppress: [unused-includes]
  UnusedIncludes: None